.DS_Store
.idea/


/public/ss
/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/public/js/dashboard.js
/public/js/docs.js
/public/js/gallery.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
